/cmake-build-debug/db_professori.txt
/cmake-build-debug/Makefile
/cmake-build-debug/Progetto_Algoritmi_20_21
/cmake-build-debug/Progetto_Algoritmi_20_21.cbp
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/db_studenti.txt
/cmake-build-debug/db_aule.txt
/cmake-build-debug/db_corsi.txt
/cmake-build-debug/db_corsi_studio.txt
/cmake-build-debug/db*.txt
/cmake-build-debug/CMakeFiles/
*.com
*.class
*.dll
*.exe
*.o
*.log
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

